services:
  backend:
    build: ./backend
    container_name: ai_backend
    ports:
      - "8000:8000"
    env_file:
      - .env
 
    volumes:
      - chat_data:/app/vector_db
    restart: always

  frontend:
    build: ./frontend
    container_name: ai_frontend
    ports:
      - "8501:8501"
    environment:
      - BACKEND_URL=http://backend:8000
    depends_on:
      - backend
    restart: always

volumes:
  chat_data: